body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#020230;
    height:100vh; 
    width:100vw;
    overflow-x:hidden!important
}

#map_access{
    display:none!important;
  }
  @media  only screen and (max-width:460px){
    #map{
      transform: scale(.74)!important;
    
    }
  }

.btn_simplemaps{
   background-color:white!important;
   color:#020230!important;
}
.btn_simplemaps:hover{
  color:white!important;
  
  background-color:#020230!important;
}
 @media only screen and (max-width:460px)
 {
.tt_sm{
  margin-left: -5em!important;
  margin-bottom: -1em!important;
}
  
 }
